In [ ]:
"raza"

In [ ]:
print("raza")

In [ ]:
print(1,2,3)

In [ ]:
print("1,2,3")

In [ ]:
print("vikram vedha",2022)

In [ ]:
print('this is a line')
print('another line')
print('and the final text line')

In [ ]:
a=10
b=20
c=50
print(a,b)
print(a)

In [ ]:
city='lucknow'
state='uttar pradesh'
name='raza'

In [ ]:
name1='abbas'
name2='raza'
print('n1,n2')

In [ ]:
a='apple'
type(a)

In [ ]:
food=input()

In [1]:
a=101
type(a)

int

In [2]:
a="300"
print(a,type(a))

300 <class 'str'>

In [3]:
b=int(a)

In [4]:
print(b,type(b))

300 <class 'int'>

In [5]:
print(a,type(a))

300 <class 'str'>

In [6]:
a=input("enter A=")
b=input("enter B=")
print(type(a),type(b))

<class 'str'> <class 'str'>

In [7]:
num1=int(input("enter num"))
num2=int(input("enter num2"))
ans=num1*num2
print(ans)

72

# markdown

# operators

In [1]:
x=10
y=3

In [2]:
x+y

13

In [4]:
x*y

30

In [5]:
x/y

3.3333333333333335

In [7]:
x%y

1

In [8]:
x**y

1000

In [9]:
x+=7

In [10]:
x-=10

In [11]:
x*=2

In [12]:
x/=3

In [13]:
x>10

False

In [14]:
x<10

True

In [15]:
'apple'=='Apple'

False

In [16]:
'apple'=='apple'

True

In [17]:
x>5 and x>100

False

In [18]:
x>5 or x>1

True

In [19]:
not x>100

True

In [20]:
x is y

False

In [21]:
x is not y

True

In [22]:
a=[1,3,8,10,2]

In [23]:
2 in a

True

In [24]:
15 in a

False

formatted
string & msg.

In [31]:
l=10.5
b=6.10
area=l*b 
print(area)
print(l,b,area)
print("{}*{}={}".format(l,b,area))
print(f'{l}*{b}={area}')
print(f'{l}*{b}={area:.1f}')

64.05
10.5 6.1 64.05
10.5*6.1=64.05
10.5*6.1=64.05
10.5*6.1=64.0

syntax

if conditional:statement

In [1]:
if 100>10:
    print('100 is greater than 10')

100 is greater than 10

In [2]:
a=10
b=20
if a<b:
    print('this is great')
    print(f'{a}is grater than {b}')

this is great
10is grater than 20

In [4]:
data=input("enter a data:")
if data.isalpha():
    print("this is a string")
    if data.isnumeric():
        print("this is a number")
        if data.isspace():
            print("this is a space")

In [7]:
temp=32
if temp > 25:
  print("it's a hot")
else:
  print("it's a cool")

it's a hot

In [3]:
fruit = input("what fruit do you like?")
if fruit == "Apple":
   print("an apple a day keeps the doctor away") 
elif fruit=='Mango':
    print('Mango is the king of the fruits')
elif fruit=='Banana':
    print('Banana is the good source of potassium')
elif fruit=='Orange':
    print('Orange is the good source of vitamin c')
else:
    print('Not found in the database')

Banana is the good source of potassium

WAP to calculate the employee total salaray based on following conditions

. if basic salary  is less than 10000 then hra is 10% of basic salary and da is 90% of basic salary
. if basic salary is greater than 10000 then hra is 20% of basic salary and da is 80% of basic salary
. if basic salary is greater than 20000 then hra is 25% of basic salary and da is 75% of basic salary

In [5]:
basicsalary=float(input("enter your salary:"))
if basicsalary<10000:
    hra=0.1*basicsalary
    da=0.9*basicsalary
elif basicsalary>10000:
    hra=0.2*basicsalary
    da=0.8*basicsalary
else:
    hra=0.25*basicsalary
    da=0.75*basicsalary
print("your hra is:",hra)
print("your da is:",da)

your hra is: 2500.0
your da is: 7500.0