transversal

In [2]:
x=[0,2,3,4,1,6,7]
for i in x:
    print(i)

0
2
3
4
1
6
7

In [4]:
colours = ['red','blue','voilet']
for val in colours:
    print(f'we got {val}')

we got red
we got blue
we got voilet

In [1]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [5]:
for i in range(1,31):
    print(i, end="ðŸ’• ")

1ðŸ’• 2ðŸ’• 3ðŸ’• 4ðŸ’• 5ðŸ’• 6ðŸ’• 7ðŸ’• 8ðŸ’• 9ðŸ’• 10ðŸ’• 11ðŸ’• 12ðŸ’• 13ðŸ’• 14ðŸ’• 15ðŸ’• 16ðŸ’• 17ðŸ’• 18ðŸ’• 19ðŸ’• 20ðŸ’• 21ðŸ’• 22ðŸ’• 23ðŸ’• 24ðŸ’• 25ðŸ’• 26ðŸ’• 27ðŸ’• 28ðŸ’• 29ðŸ’• 30ðŸ’•

In [6]:
for i in range(1,11):
    print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
for i in range(1,11):
    print(f'9 x {i} = {9*i}')

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [2]:
#reverse loop
for i in range (10,0,-1):
    print (i,end='')

10987654321

In [3]:
veg = ['potato','tomato','onion','cabbage','carrot']
for item in veg:
    print(item)

potato
tomato
onion
cabbage
carrot

Other presentable way of writing the above code in python

In [4]:
for item in enumerate (veg):
    print(item)

(0, 'potato')
(1, 'tomato')
(2, 'onion')
(3, 'cabbage')
(4, 'carrot')

correct version of enumerator

In [5]:
for index , value in enumerate(veg):
    print (index , 'got', value)

0 got potato
1 got tomato
2 got onion
3 got cabbage
4 got carrot

can also be written as

In [6]:
for index, value in enumerate (veg):
    print(index , value)

0 potato
1 tomato
2 onion
3 cabbage
4 carrot

In [7]:
veg=['potato','tomato','onion','carrot','cabbage']
prices=(35,80,40,20,30)

In [9]:
# non pythonic way
for i in range (len(veg)):
    print (f'{veg[i]}')

potato
tomato
onion
carrot
cabbage

In [10]:
# pythonic way
for v,p in zip(veg,prices):
    print(f'{v}   {p}')

potato   35
tomato   80
onion   40
carrot   20
cabbage   30

WAP to print the following lists using zip

-list 1 contains movie title
-list 2 contains movie rating
-list 3 contains movie year
-list 4 contains movie directors

In [12]:
movie_title=['zindagi na milegi doobara','PK','Kabir singh','ADHM','sultan']
movie_rating=[9.2 ,9.1, 9.5, 8.5, 10]
movie_year=[2012, 2019, 2020, 2017, 2015]
movie_directors=['zoya akhtar', 'rajkumar hirani', 'sandeep reddy vanga', 'karan johar', 'ali abbas zafar']
for t,r,y,d in zip (movie_title, movie_rating, movie_year, movie_directors):
    print (f'{t} {r} {y} {d}')

zindagi na milegi doobara 9.2 2012 zoya akhtar
PK 9.1 2019 rajkumar hirani
Kabir singh 9.5 2020 sandeep reddy vanga
ADHM 8.5 2017 karan johar
sultan 10 2015 ali abbas zafar

nested loop

In [16]:
for i in range (10):
    for i in range (10):
        print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9

Break and Continue

In [17]:
x=[1,2,0,3,4,0,0,5]

In [18]:
for i in x:
    if i == 0:
        break
    print(i)

1
2

In [19]:
for i in x:
    if i==0:
        continue
    print(i)

1
2
3
4
5

The above cited code can also be written without (CONTINUE)

In [20]:
for i in x:
    if i != 0:
        print (i)

1
2
3
4
5

For else

WAP to show whether the no. is prime no. or not

In [22]:
num=18
for i in range (2,num):
    if num % i == 0:
        print('not prime')
        break 
else:# else block will execute only if the for loop is not broken 
    print('prime')

not prime

In [23]:
for num in range (1, 100):
    if num == 1:
        continue
    for i in range (2, num):
        if num % i == 0:
            break 
else: # else block will execute only if the for loop is not broken
    print(num, end = ' ')

99

In [24]:
for i in range (5):
    if i == 3:
        break 
    print(i)
else:
    print('done')

0
1
2

While loop

In [25]:
x=10
while x>0:
    x-=2
    print(x)

8
6
4
2
0

What happen when we write print(x)after while see the outcome it doesn't show zero in the end (just see the outcome)

In [26]:
x=10
while x>0:
    print(x)
    x-=2

10
8
6
4
2

In [29]:
total=0
while True:
    num = int (input("enter a number:"))
    if num == 0:
        break
    total += num
print(f'total is {total}')

In [5]:
books= [] # empty list
while True:
    name= input ('enter the name of the book:')
    if name:
        books.append(name) # add items to the list
    else:
        break
print("these are the books")
print(books)

these are the books
['man search for a meaning']

WAP a program to print fibonnaci series

In [2]:
num=int (input('enter any number:'))
n1 , n2 =0,1
sum=0
if num <=0:
    print('enter the number greater than 0')
else:
    for i in range (0,num):
        print(sum,end=" ")
        n1 = n2
        n2 = sum
        sum = n1 + n2

0 1 1 2 3 5 8 13