In [1]:
name = 'syed abbas raza'
print(len(name))

15

In [2]:
for idx,char in enumerate(name):
    print(idx,char)

0 s
1 y
2 e
3 d
4
5 a
6 b
7 b
8 a
9 s
10
11 r
12 a
13 z
14 a

In [3]:
print(name[2:9])

ed abba

In [15]:
print(name[-5:-1])

 raz

In [16]:
print(name[:7])

syed ab

In [18]:
print(name[:])

syed abbas raza

var [start : stop : step]

Here we are doing slicing

In [20]:
#all the even indexed character of string
print(name[::5])

sa

In [21]:
#odd indexed characters
print(name[1::2])

ydabsrz

In [22]:
#reverse the string
print(name[::-1])

azar sabba deys

In [23]:
#reverse the even
print(name[::-2])

aa ab es

In [25]:
#remove first two and last two strings
print(name[2:-2])

ed abbas ra

In [26]:
word = 'racecar'
print(word[:-3])

race

In [28]:
word ='excellent'
print(word[0:5])

excel

In [29]:
chr(29)

'\x1d'

In [33]:
chr(15000)

'ãª˜'

In [37]:
ord('s')

115

In [42]:
a='Syed'
b='Abbas'
c='Raza'
s=a + ' ' +  b + ' ' + c
print(s)

Syed Abbas Raza

DUPLICATION= in python we can multiply a string with int

In [43]:
word='syed'
print(word * 4)

syedsyedsyedsyed

In [46]:
print('-$-'* 6)
print(name)
print('-$-'*6)

-$--$--$--$--$--$-
syed abbas raza
-$--$--$--$--$--$-

In [51]:
for i in range(1,8):
    print(i*'&')

&
&&
&&&
&&&&
&&&&&
&&&&&&
&&&&&&&

In [55]:
for i in range (1,15,2):
    print((i * ' * ').center(45,'_'))

_____________________ * _____________________
__________________ *  *  * __________________
_______________ *  *  *  *  * _______________
____________ *  *  *  *  *  *  * ____________
_________ *  *  *  *  *  *  *  *  * _________
______ *  *  *  *  *  *  *  *  *  *  * ______
___ *  *  *  *  *  *  *  *  *  *  *  *  * ___

In [1]:
for i in range (1,14):
    if i%2 !=0:
        print ((i * '*').center(45))
    else:
        print ((i * '~').center(45))

                      *
                      ~~
                     ***
                     ~~~~
                    *****
                    ~~~~~~
                   *******
                   ~~~~~~~~
                  *********
                  ~~~~~~~~~~
                 ***********
                 ~~~~~~~~~~~~
                *************

In [1]:
x=0
while(x<100):
    x+=2
print(x)

100

In [5]:
x=2
for i in range(x):
    x+=1
    print(x)

3
4

In [6]:
i=1
while True:
    if i%3 ==0:
        break
    print(i)
    i+=1

1
2