set

In [1]:
#set of integers
my_set ={1,2,3}
print(my_set)

{1, 2, 3}

In [2]:
#set of mixed datatypes
#output:
my_set = [1,2,3,4,3,2]
print(my_set)

[1, 2, 3, 4, 3, 2]

In [3]:
#we can make set from a list
#output:{1,2,3}
my_set = set ([1,2,3,2])
print(my_set)

{1, 2, 3}

In [6]:
#set union
a={1,2,3,4,5}
b={4,5,6,7,8} 
print(a|b) #use for union

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
a.intersection(b)

{4, 5}

In [10]:
print(a&b) #use for intersection

{4, 5}

In [11]:
print(a-b)  #for difference

{1, 2, 3}

In [12]:
a.difference(b)

{1, 2, 3}

In [13]:
b-a

{6, 7, 8}

In [14]:
print(a^b) #for symetric

{1, 2, 3, 6, 7, 8}

In [15]:
a.symmetric_difference(b)
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
#create 2 set of electric devices and perform set operations on them
set1= {'mobile'}
set2={'laptop'}

In [26]:
print(set1 | set2)

{'laptop', 'mobile'}